@font-face {
	font-family: 'Larsseit';
	src: url('fonts/Larsseit.eot');
	src: local('☺'), url('../FONTS/fonts/Larsseit.woff') format('woff'), url('../FONTS/fonts/Larsseit.ttf') format('truetype'), url('../FONTS/fonts/Larsseit.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.wrepper{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: absolute;
}
main{
    background-image: url(../IMG/Rectangle\ 3.png) ;
    background-size: cover;
    background-position: left;
    width: 80%;
    height: 840px;
}
.menu{
    display: flex;
    width: 300px;
    height: 16px;
    line-height: 24px;
    position: absolute;
    z-index: 2;
    left: 807px;
    top: 28px;
    justify-content: space-between;
}
.menu>li{
    text-decoration: none;
    list-style: none;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 52px;
    width: 60px;
    height: 52px;
    text-align: center;
    color: #22356F;
    font-weight: 400;
}
.menu>li:hover{
    font-weight: 600;
    border-bottom: 2px solid #22356F; 
}
.img{
    /*background-image: url(../IMG/Mask\ Group\ \(1\).svg);*/
    position: absolute;
    width: 740px;
    right:0px ;
    top: 0%;
    z-index: 4;
}
.img_2{
    /*background-image: url(../IMG/Mask\ Group\ \(1\).svg);*/
    position: absolute;
    width: 600px;
    right:0px ;
    top: 0%;
    z-index: 3;
}
.logo{
    width: 84px;
    height: 64;
    color: #62D0DF;
    letter-spacing: -0.035em;
    font-size: 24px;
    line-height: 27px;
    font-family:'Larsseit';
}
.top{
    position: absolute;
    top: 27px;
    left: 179px;
    font-weight: 600;
}
.center{
    position: absolute;
    top: 241px;
    left: 179px;
    font-weight: 600;
}
.text_1{
    width: 484px;
    height: 167px;
    position: absolute;
    left: 179px;
    top: 305px;
    font-family: 'Larsseit';
    font-size: 48px;
    line-height: 53px;
    color: #22356F;
    letter-spacing: -0.035em;
    font-weight: 600;

}
.text_2{
    width: 469px;
    height: 161px;
    position: absolute;
    top: 491px;
    left: 179px;
    font-size:24px;
    line-height: 42px;
    font-family: 'Larsseit';
    color: #22356F;
}
.first>a{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 715px;
    left: 179px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Larsseit';
    color:#F9B640;
}
.second>a{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 715px;
    left: 367px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Larsseit';
    color:#F9B640;
}
.first>a:hover{
    background: #F9B640;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
.second>a:hover{
    background: #F9B640;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
.third>a{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 37px;
    right:180px ;
    border-radius: 50px;
    background: #62D0DF;
    line-height: 50px;
    font-family: 'Larsseit';
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    z-index: 5;
}
.third>a:hover{
    width: 170px;
    height: 70px;
    border-radius: 70px;
    line-height: 70px;
    font-size: 16px;
    position: absolute;
    top: 27px;
    right:170px ;
}
.ask{
    width: 100%;
    height: 604px;
    background: #62D0DF;
    position: absolute;
}
.foto{
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.title{
    width: 223px;
    height: 50px;
    text-align: left;
    position: absolute;
    top: 151px;
    left: 179px;
    font-family:'Larsseit';
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 50px;
}
.article{
    height: 235px;
    width:555px;
    position:absolute;
    top: 277px;
    left:179px;
    line-height: 29.3px;
    font-size: 20px;
    font-family:'Larsseit';
    color: #FFFFFF;
    font-weight:lighter;
}
.article>.article__span{
    line-height: 40px;
    font-size: 24px;
    font-family:'Larsseit';
    color: #FFFFFF;
    font-weight:600;
}
.about_us{
    width: 100%;
    height:461px;
    background: #FFFFFF;
    position: absolute;
    top: 1444px;
    left: 0px;
}
.about_us__text{
    width: 592px;
    height: 210px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    text-align: left;
    font-family:'Larsseit';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F;
    font-weight: 600;
}
.about_us__heading{
    width: 93px;
    height: 93px;
    position: absolute;
    top: 156px;
    left: 106px;
    font-family:'Larsseit';
    font-size:16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
    font-weight: 300;
}
.about_us__slogan{
    width: 201px;
    height: 21px;
    position: absolute;
    top:420px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
    font-family:'Larsseit';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}
.select{
    width: 100%;
    height: 360px;
    position: absolute;
    top:1905px;
    left:5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.select_one{
    background: #FFE2DE;
    height: 360px;
}
.select_one>a{
    width: 230px;
    height: 74px;
    margin-left:50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    padding-top:40px;
    line-height: 34px;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family:'Larsseit';
    font-size: 32px;
    letter-spacing: -0.006em;
}
.select_two{
    background: #C4E769;
    height: 360px;
}
.select_two>a{
    width: 230px;
    height: 74px;
    margin-left:50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    padding-top:40px;
    margin-top: 100px;
    line-height: 34px;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family:'Larsseit';
    font-size: 32px;
    letter-spacing: -0.006em;
}
.select_three{
    background: #62D0DF;
    height: 360px;
}
.select_three>a{
    width: 230px;
    height: 74px;
    margin-left:50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    padding-top:40px;
    margin-top: 100px;
    line-height: 34px;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family:'Larsseit';
    font-size: 32px;
    letter-spacing: -0.006em;
}
.select_four{
    background: #0052C1;
    height: 360px;
}
.select_four>a{
    width: 230px;
    height: 74px;
    margin-left:50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    padding-top:40px;
    margin-top: 100px;
    line-height: 34px;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family:'Larsseit';
    font-size: 32px;
    letter-spacing: -0.006em;
}
.select_four>a:before{
    content:'';
    width:9px;
    height: 9px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: relative;
    top: -5px;
    left: -10px;
}
.select_three>a:before{
    content:'';
    width:9px;
    height: 9px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: relative;
    top: -5px;
    left: -10px;
}
.select_two>a::before{
    content:'';
    width:9px;
    height: 9px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: relative;
    top: -5px;
    left: -10px;
}
.select_one>a:before{
    content:'';
    width:9px;
    height: 9px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: relative;
    top: -5px;
    left: -10px;
}
.break{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 2265px;
    left: 0px;
    background: #FFFFFF;
}
.option{
    width: 100%;
    height: 960px;
    position: absolute;
    top: 2415px;
    left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.option__one{
background: #22356F;
}
.option__two{
    background: #0052C1;
}
.option__three{
    background: url(../IMG/joanna-kosinska-340748.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.option__four{
    background: #62D0DF;
}
.option__five{
    background: #DEE1FF;
}
.option__six{
    background: #8F00FF;
}
.option__one>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__one:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: 140px;
    left: 105px;
}
.option__two>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__two:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: 140px;
    left: calc(33.3vw + 103px);
    
}
.option__three>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__three:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: 140px;
    left: calc(66.6vw + 100px);
    
}
.option__four>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__four:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: calc(50% + 140px);
    left: 105px;
    
}
.option__five>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__five:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: calc(50% + 140px);
    left: calc(33.3vw + 103px);
    
}
.option__six>a{
    width: 340px;
    height: 102px;
    margin-left: 104px;
    margin-top: 96px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    border-top: 2px solid #FFFFFF ;
    display: inline-block;
    padding-left: 30px;
    padding-top: 30px;
}
.option__six:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #E9B730;
    display: inline-block;
    position: absolute;
    top: calc(50% + 140px);
    left: calc(66.6vw + 100px);
}
.benefits{
    width: 100%;
    height: 480px;
    position: absolute;
    top: 3375px;
    left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.benefits>li{
    padding-left: 105px;
    padding-top: 55px;
}
.benefits__title{
    width: 234px;
    height: 36px;
    font-family:'Larsseit';
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-bottom: 28px;
    text-align: left;
}
.benefits__text{
    width: 298px;
    height: 84px;
    font-family:'Larsseit';
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(34, 53, 111, 0.5);
}
.statistyc{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 3855px;
    left: 5px;
    background-color:#FFFFFF;
    background-image: url(../IMG/linkedin-sales-navigator-402831.png);
    background-repeat: no-repeat;
    position: center left;
}
.statistyc__title{
    width: 217px;
    height: 20px;
    position: absolute;
    top: 103px;
    left: 589px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.06em;
    color: #22356F;
}
.statistyc__text{
    width: 676px;
    height: 215px;
    position: absolute;
    top: 348px;
    left: 589px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
    font-weight: 600;
}
.statistyc__text>span{
    color: #62D0DF;
}
.statistyc__frase{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 715px;
    left: 586px;
    text-align: center;
    line-height: 50px;
    font-family:'Larsseit';
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FAB63E;
}
.statistyc__frase:hover{
    background: #F9B640;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color:#FFFFFF;
}
.ready{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 4655px;
    left: 5px;
    background-color: #22356F;
    background-image: url(../IMG/charles-etoroma-390119.png);
    background-repeat: no-repeat;
    background-position:center right;
}
.ready__title{
    width: 108px;
    height: 14px;
    position: absolute;
    top: 103px;
    left: 180px;
    text-transform: uppercase;
    font-family:'Larsseit';
    font-size: 16px;
    line-height: 12px;
    text-align: left;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 200;
}
.ready__header{
    width: 704px;
    height: 66px;
    position: absolute;
    top: 347px;
    left: 180px;
    text-transform: uppercase;
    font-family:'Larsseit';
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-weight: 600;
}
.ready__article{
    width: 579px;
    height: 253px;
    position: absolute;
    top: 488px;
    left: 180px;
    text-align: left;
    font-family:'Larsseit';
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.ready__frase{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 715px;
    left: 177px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #62D0DF;
    font-family:'Larsseit';
}
.ready__frase:hover{
    background: #62D0DF;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color:#FFFFFF;
}
.footer{
    width: 100%;
    height: 380px;
    position: absolute;
    top: 5455px;
    left: 5px;
    background-color:#FFFFFF;
    background-image: url(../IMG/autumn-goodman-242825.png);
    background-position: center left;
    background-repeat: no-repeat;
}
.footer__text{
    height:380px;
    width: calc(100% - 570px);
    position: absolute;
    left:570px;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.try_one_header{
    width: 240px;
    height: 48px;
    margin: 0px auto;
    margin-top: 98px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 500;
}
.try_one_text{
    width: 240px;
    height: 115px;
    margin: 0px auto;
    margin-top: 22px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}
.try_two_header{
    width: 240px;
    height: 48px;
    margin: 0px auto;
    margin-top: 98px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 500;
}
.try_two_text{
    width: 240px;
    height: 115px;
    margin: 0px auto;
    margin-top: 22px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}
.try_three_header{
    width: 240px;
    height: 48px;
    margin: 0px auto;
    margin-top: 98px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 500;
}
.try_three_text{
    width: 240px;
    height: 115px;
    margin: 0px auto;
    margin-top: 22px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}
.blok{
    width: 100%;
    height: 80px;
    position: absolute;
    top:5835px;
    left: 5px;
    background: #62D0DF;
}
.blok>p{
    width: 351px;
    height: 22px;
    position: absolute;
    top: 32px;
    left: 194px;
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
.blok>p::before{
    content: '©';
    font-family:'Larsseit';
    font-size: 14px;
    line-height: 22px;

}
