%conteiner{
    max-width: 625px;
    margin: 0px auto;
}
%conteinertext{
    max-width: 1100px;
    margin: 0px auto;
}
@import "fonts.scss";
body{
    width: 100%;
    overflow-x: hidden;
    .wrapper{
        display: flex;
        flex-direction: column;
        .header{
            flex: 0 0 800px;
            background: url(../IMG/bg.png) 0 0/100% auto no-repeat;
            .conteiner{
                @extend %conteiner;
                .header__rov{
                    .header__list{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .header__items{
                            flex: 0 0 15%;
                            font-family: "MYRIADPRO";
                            font-size: 10pt;
                            text-transform: uppercase;
                            line-height: 76.52px;
                            font-weight: 400;
                            letter-spacing: 3pt;
                            text-align: center;
                        }
                        a{
                            color: #551A8B;
                        }
                        .header__items_logo{
                            flex: 0 1 10%;
                            align-self: center;
                            padding: 10px 0px 0px 0px;
                            img{
                                width: 100%;
                                height: auto;
                               }
                            }
                        }
                    
                   .header__burger{
                       display: none;
                    }
                   .header__logo_mobile{
                       display: none;
                    }
                    .header__table{
                        display: none;
                    }  
                }
            }
        }
        @media(max-width: 767px){
            .header{
                flex: 0 0 100vh;
                background: url(../IMG/bg.png) center 0/cover no-repeat;
                .conteiner{
                    margin: 0px auto;
                    padding: 0px 5px 0px 5px;
                   .header__rov{
                       .header__list{
                           display: none;
                           }
                       .header__list.active{
                           position: absolute;
                           left: 50%;
                           transform: translateX(-50%);
                           display: flex;
                           flex-direction: column;
                           justify-content: space-between;
                           height: 100vh;
                           order: 2;
                           z-index: 2;
                           .header__items.active{
                               position: relative;
                               flex: 0 0 8%;
                               font-family: "MYRIADPRO";
                               font-size: 10pt;
                               text-transform: uppercase;
                               line-height: 100%;
                               font-weight: 400;
                               letter-spacing: 3pt;
                               text-align: center;
                               a{
                                   display: inline-block;
                                   vertical-align: center;
                                   color: white;
                                   position: relative;
                                   top: 50%;
                                   transform: translateY(-50%);
                               }   
                           }
                           .header__items_logo.active{
                               height: 15%;
                               img{
                                   height: 100%;
                                   width: auto;
                               }
                           }  
                       }
                       .header__table.active{
                           display: block;
                           position: absolute;
                           top: 0px;
                           left: 0px;
                           height: 100vh;
                           width: 100vw;
                           background-color: rgba(0, 0, 0, 0.801);
                           z-index: 1;
                       }
                       .header__logo_mobile{
                           display: inline-flex;
                           align-self: flex-start;
                           position: relative;
                           top: 3vh;
                           width: 10%;
                           left: 3vw;
                           img{
                               width: 100%;
                               height: auto;
                           }
                       }
                       .header__burger{
                           display:block;
                           width: 10%;
                           height: 40px;
                           cursor: pointer;
                           position: fixed;
                           right: 5px;
                           top: 3vh;
                           right: 3vw;
                           z-index: 3;
                           span{
                               display: block;
                               width: 60%;
                               height: 2px;
                               background-color: #551A8B;
                               position: absolute;
                               left: 50%;
                               top: 50%;
                               transform: translate(-50%,-50%);
                               &:nth-child(1){
                                   left: 50%;
                                   top: 30%;
                                   transform: translate(-50%,-50%);
                               }
                               &:nth-child(2){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%);
                               }
                               &:nth-child(3){
                                   left: 50%;
                                   top: 70%;
                                   transform: translate(-50%,-50%);
                               }
                            }
                        }
                       .header__burger.active{
                           display:block;
                           width: 10%;
                           height: 40px;
                           cursor: pointer;
                           position: fixed;
                           right: 5px;
                           top: 3vh;
                           right: 3vw;
                           z-index: 3;
                           span{
                               display: block;
                               width: 60%;
                               height: 2px;
                               background-color: white;
                               position: absolute;
                               left: 50%;
                               top: 50%;
                               transform: translate(-50%,-50%);
                               &:nth-child(1){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%) rotate(45deg);
                                }
                               &:nth-child(2){
                                   display: none;
                                }
                               &:nth-child(3){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%) rotate(-45deg);
                                }
                            }
                        }
                    }
               }
           }
        }
        .content{
            height: 0px;
            .content__column{
                .content__about{

                }
                .content__work{

                }
                .content__about_twitter{

                }
                .content__shop{

                }
                .content__mail{

                }
            }
        }
        .footer{
            height: 0px;
            .conteiner{
                .footer__rov{
                    .footer__text{

                    }
                    .footer__socialicons{

                    }
                    .footer__logo{

                    }
                }
            }
        }
    }
}

