%conteiner{
    width: 60%;
    margin: 0px auto;
}
%conteinertext{
    max-width: 60%;
    margin: 0px auto;
}
@import "fonts.scss";
body{
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
    &.lock{
        overflow: hidden;
     }
    .wrapper{
        display: flex;
        flex-direction: column;
        .header{
            flex: 0 0 100vh;
            background: url(../IMG/bg.png) center center/cover no-repeat;
            .conteiner{
                @extend %conteiner;
                .header__rov{
                    .header__list{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin: 2% 0% 0% 0%;
                        .header__items{
                            flex: 0 0 15%;
                            font-family: "MYRIADPRO";
                            font-size: 1vw;
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: 3pt;
                            text-align: center;
                            position: relative;
                        }
                        a{
                            color: #551A8B;
                            position: relative;
                            display: inline-block;
                            top: 50%;
                            transform: translateY(-50%);
                            &:hover{
                                color: rgba(11, 110, 92, 1);
                                font-size: 1.2vw;
                                transition-duration: 500ms;
                            }
                        }
                        .header__items_logo{
                            flex: 0 1 5%;
                            align-self: center;
                            padding: 10px 0px 0px 0px;
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    } 
                    
                   .header__burger{
                       display: none;
                    }
                   .header__logo_mobile{
                       display: none;
                    }
                    .header__table{
                        display: none;
                    }  
                }
            }
        }
        .content{
            flex: 1 0 auto;
            .content__column{
                display: flex;
                flex-direction: column;
                .content__about{
                        flex: 1 1 auto;
                        .conteiner{
                            @extend %conteinertext;
                            font-size: 1.8677vw;
                            .content__logo{
                                width: 2vw;
                                margin: 1em auto 0px auto;
                             img{
                                width: 100%;
                                height: auto;
                                }
                            }
                            h1{
                              margin: 1em auto;
                              text-align: center;
                              font-family: "MYRIADPRO";
                              text-transform: uppercase;
                              font-size: 1.2vw;
                              font-weight: 600;
                              color: #333333;
                            }
                            .content__text{
                              text-align: center;
                              font-family: "MYRIADPRO";
                              font-size: 1vw;
                              color: #33333388;
                              line-height: 1.5em;
                              margin: 0px 5em 5em 5em;
                            }
                        }
                }
                .content__work{
                    flex: 0 0 200vh;
                    .content__column{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        .content__vintage{
                            flex: 0 0 33.333%;
                            display: flex;
                            flex-direction: row;
                            &_boriosa{
                                flex-direction: row-reverse;
                            }
                            .content__img{
                                flex: 0 0 66.667%;
                                position: relative;
                                background: url(../IMG/Img01.png) center center/cover no-repeat;
                                &_boriosa{
                                    background: url(../IMG/8.png) center center/cover no-repeat;
                                }
                                &_retrofirst{
                                    background: url(../IMG/bike3/Img01.png) center center/cover no-repeat;
                                }
                                &_retrosecond{
                                    background: url(../IMG/bike3/Img02.png) center center/cover no-repeat;
                                }
                                .content__cover{
                                    opacity: 0;
                                    position: relative;
                                    left: 0px;
                                    top: 0px;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(11, 110, 92, 0.4);
                                    z-index: 2;
                                    transition-duration: 1s;
                                    .content__logo{
                                        position: relative;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%,-50%);
                                        z-index: 3;
                                        height: 10%;
                                        width: auto;
                                    }
                                }
                                &:hover{
                                    .content__cover{
                                       opacity: 1;
                                    }
                                }
                            }
                            .content__vintagecolumn{
                                flex: 0 0 33.333%;
                                display: flex;
                                flex-direction: column;
                                .content__inform{
                                    font-size: 1.3vw;
                                    flex: 0 1 66.667%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    padding: 2.7em 0px 2.7em 0px;
                                    .content__informlogo{
                                        margin: 0px auto 0px auto;
                                        height: 1em;
                                        img{
                                            height: 100%;
                                            width: auto;
                                            margin: 0px auto;
                                        }
                                    }
                                    h1{
                                        text-align: center;
                                        font-family: "MYRIADPRO";
                                        font-size: 1vw;
                                        font-weight: 600;
                                        text-transform: uppercase;
                                        color: #333333;
                                    }
                                    .content__informtext{
                                        margin: 0px auto;
                                        max-width: 75%;
                                        font-family: "MYRIADPRO";
                                        font-size: 1vw;
                                        line-height: 1.5em;
                                        color: #33333388;
                                        text-align: center;
                                    }
                                }
                                .content__vintageimg{
                                    flex: 0 0 33.333%;
                                    height: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        .content__vintage_boriosa{
                            flex: 0 0 33.333%;
                        }
                        .content__vintage_retro{
                            flex: 0 0 33.333%;
                            display: flex;
                            flex-direction: row;
                            .content__img_retrofirst{
                                flex: 0 0 33.333%;
                                order: 1;
                                .content__cover{
                                    opacity: 0;
                                    position: relative;
                                    left: 0px;
                                    top: 0px;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(11, 110, 92, 0.4);
                                    z-index: 2;
                                    transition-duration: 1s;
                                    .content__logo_retro{
                                       position: relative;
                                       top: 50%;
                                       left: 50%;
                                       transform: translate(-50%,-50%);
                                       z-index: 3;
                                       height: 5%;
                                       width: auto;
                                    }
                                }
                                &:hover{
                                    .content__cover{
                                        opacity: 1;
                                    }
                                }
                            }
                            .content__img_retrosecond{
                                flex: 0 0 33.333%;
                                order: 3;
                                .content__cover{
                                    opacity: 0;
                                    position: relative;
                                    left: 0px;
                                    top: 0px;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(11, 110, 92, 0.4);
                                    z-index: 2;
                                    transition-duration: 1s;
                                    .content__logo_retro{
                                       position: relative;
                                       top: 50%;
                                       left: 50%;
                                       transform: translate(-50%,-50%);
                                       z-index: 3;
                                       height: 5%;
                                       width: auto;
                                    }
                                }
                                &:hover{
                                    .content__cover{
                                        opacity: 1;
                                    }
                                }
                            }
                            .content__vintagecolumn_retro{
                                flex: 0 0 33.333%;
                                order: 2;
                                .content__inform_retro{
                                    .content__informlogo_retro{}
                                    h1{}
                                    .content__informtext_retro{}
                                }
                                .content__vintageimg_retro{
                                    img{}
                                }  
                            }
                        }
                    }
                }
                .content__about_twitter{
                    h1{
                        span{
                            font-size: 1.6vw;
                            font-weight: 300;
                            color: #333333;
                        }
                    }
                }
                .content__shop{
                    flex: 0 0 80vh;
                    .shop__column{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .shop__position{
                            flex: 0 0 60vh;
                            display: flex;
                            flex-direction: row;
                            .position__first{
                                flex: 0 0 33.333%;
                                display: flex;
                                flex-direction: column;
                                .position__first_top{
                                    flex: 0 0 50%;
                                    display: flex;
                                    flex-direction: row;
                                    .seats{
                                        flex: 0 0 50%;
                                        position: relative;
                                        .cover{
                                            opacity: 0;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(11, 110, 92, 0.4);
                                            z-index: 2;
                                            transition-duration: 1s;
                                            img{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%,-50%);
                                                z-index: 3;
                                                height: 10%;
                                                width: auto;
                                            }
                                        }
                                        &:hover{
                                            .cover{
                                                opacity: 1;
                                            }
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .stend{
                                        flex: 0 0 50%;
                                        position: relative;
                                        .cover{
                                            opacity: 0;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(11, 110, 92, 0.4);
                                            z-index: 2;
                                            transition-duration: 1s;
                                            img{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%,-50%);
                                                z-index: 3;
                                                height: 10%;
                                                width: auto;
                                            }
                                        }
                                        &:hover{
                                            .cover{
                                                opacity: 1;
                                            }
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                                .position__first_bottom{
                                    flex: 0 0 50%;
                                    position: relative;
                                    .cover{
                                        opacity: 0;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(11, 110, 92, 0.4);
                                        z-index: 2;
                                        transition-duration: 1s;
                                        img{
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            z-index: 3;
                                            height: 10%;
                                            width: auto;
                                        }
                                    }
                                    &:hover{
                                        .cover{
                                            opacity: 1;
                                        }
                                    }
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .position__second{
                                flex: 0 0 33.333%;
                                display: flex;
                                flex-direction: row;
                                .position__second_back{
                                    flex: 0 0 50%;
                                    position: relative;
                                    .cover{
                                        opacity: 0;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(11, 110, 92, 0.4);
                                        z-index: 2;
                                        transition-duration: 1s;
                                        img{
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            z-index: 3;
                                            height: 5%;
                                            width: auto;
                                        }
                                    }
                                    &:hover{
                                        .cover{
                                            opacity: 1;
                                        }
                                    }
                                    img{
                                        max-width: 100%;
                                        height: 100%;
                                    }
                                }
                                .position__second_wheel{
                                    flex: 0 0 50%;
                                    position: relative;
                                    .cover{
                                        opacity: 0;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(11, 110, 92, 0.4);
                                        z-index: 2;
                                        transition-duration: 1s;
                                        img{
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            z-index: 3;
                                            height: 5%;
                                            width: auto;
                                        }
                                    }
                                    &:hover{
                                        .cover{
                                            opacity: 1;
                                        }
                                    }
                                    img{
                                        max-width: 100%;
                                    }
                                }
                            }
                            .position__third{
                                flex: 0 0 33.333%;
                                display: flex;
                                flex-direction: column;
                                .position__third_shop{
                                    flex: 0 0 50%;
                                    position: relative;
                                    .cover{
                                        opacity: 0;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px;
                                        width: 100%;
                                        height: 100%;
                                        background: rgba(11, 110, 92, 0.4);
                                        z-index: 2;
                                        transition-duration: 1s;
                                        img{
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            z-index: 3;
                                            height: 10%;
                                            width: auto;
                                        
                                        }
                                    }
                                    &:hover{
                                        .cover{
                                            opacity: 1;
                                        }
                                    }
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .position__third_bottom{
                                    flex: 0 0 50%;
                                    display: flex;
                                    flex-direction: row;
                                    .position__third_right{
                                        flex: 0 0 50%;
                                        position: relative;
                                        .cover{
                                            opacity: 0;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(11, 110, 92, 0.4);
                                            z-index: 2;
                                            transition-duration: 1s;
                                            img{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%,-50%);
                                                z-index: 3;
                                                height: 10%;
                                                width: auto;
                                            }
                                        }
                                        &:hover{
                                            .cover{
                                                opacity: 1;
                                            }
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .position__third_left{
                                        flex: 0 0 50%;
                                        position: relative;
                                        .cover{
                                            opacity: 0;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(11, 110, 92, 0.4);
                                            z-index: 2;
                                            transition-duration: 1s;
                                            img{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%,-50%);
                                                z-index: 3;
                                                height: 10%;
                                                width: auto;
                                            }
                                        }
                                        &:hover{
                                            .cover{
                                                opacity: 1;
                                            }
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .shop__forms{
                            flex: 0 0 20vh;
                            background: #282f35;
                            position: relative;
                            a{
                                text-transform: uppercase;
                                font-family: "MYRIADPRO";
                                font-size: 1vw;
                                font-weight: 400;
                                color: #ffffff;
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border: 2px solid #ffffffe7;
                                padding: 1% 2% 1% 2%;
                                transition-duration: 1s;
                                &:hover{
                                    background-color: #ffffff;
                                    color: #282f35;
                                    border: none;
                                }
                            }
                        }
                    }
                }
                .content__mail{
                    flex: 1 0 469px;
                }
            }
        }
        .footer{
            height: 0px;
            .conteiner{
                .footer__rov{
                    .footer__text{

                    }
                    .footer__socialicons{

                    }
                    .footer__logo{

                    }
                }
            }
        }
        @media(max-width: 767px){
            .header{
                flex: 0 0 100vh;
                background: url(../IMG/bg.png) center 0/cover no-repeat;
                .conteiner{
                    margin: 0px auto;
                    padding: 0px 5px 0px 5px;
                   .header__rov{
                       .header__list{
                           display: none;
                           }
                       .header__list.active{
                           position: fixed;
                           left: 50%;
                           top: 50%;
                           transform: translateX(-50%) translateY(-50%);
                           display: flex;
                           flex-direction: column;
                           justify-content: space-between;
                           height: 70vh;
                           order: 2;
                           z-index: 102;
                           .header__items.active{
                               position: relative;
                               flex: 0 0 8%;
                               font-family: "MYRIADPRO";
                               font-size: 10pt;
                               text-transform: uppercase;
                               line-height: 100%;
                               font-weight: 400;
                               letter-spacing: 3pt;
                               z-index: 2;
                               a{
                                   display: inline-block;
                                   vertical-align: center;
                                   color: white;
                                   position: relative;
                                   top: 50%;
                                   transform: translateY(-50%);
                               }   
                           }
                           .header__items_logo.active{
                               height: 15%;
                               img{
                                   height: 100%;
                                   width: auto;
                               }
                           }  
                       }
                       .header__table.active{
                           display: block;
                           position: fixed;
                           top: 0px;
                           left: 0px;
                           height: 100%;
                           width: 100vw;
                           background-color: rgba(0, 0, 0, 0.801);
                           z-index: 100;
                       }
                       .header__logo_mobile{
                           display: inline-flex;
                           align-self: flex-start;
                           position: absolute;
                           top: 30px;
                           height: 40px;
                           left: 3vh;
                           img{
                               width: auto;
                               height: 100%;
                           }
                       }
                       .header__burger{
                           display:block;
                           width: 30px;
                           height: 40px;
                           position: fixed;
                           top: 30px;
                           right: 3vw;
                           z-index: 2;
                           &:active{
                               width: 40px;
                               height: 50px;
                               right: calc(3vw - 5px);
                               top: 25px;
                           }
                           span{
                               display: block;
                               width: 80%;
                               height: 2px;
                               background-color: #551A8B;
                               position: absolute;
                               left: 50%;
                               top: 50%;
                               transform: translate(-50%,-50%);
                               &:nth-child(1){
                                   left: 50%;
                                   top: 30%;
                                   transform: translate(-50%,-50%);
                               }
                               &:nth-child(2){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%);
                               }
                               &:nth-child(3){
                                   left: 50%;
                                   top: 70%;
                                   transform: translate(-50%,-50%);
                               }
                            }
                        }
                       .header__burger.active{
                           display:block;
                           width: 30px;
                           height: 40px;
                           position: fixed;
                           top: 30px;
                           right: 3vw;
                           z-index: 102;
                           &:active{
                               width: 40px;
                               height: 50px;
                               right: calc(3vw - 5px);
                               top: 25px;
                           }
                           span{
                               display: block;
                               width: 80%;
                               height: 2px;
                               background-color: white;
                               position: absolute;
                               left: 50%;
                               top: 50%;
                               transform: translate(-50%,-50%);
                               &:nth-child(1){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%) rotate(45deg);
                                }
                               &:nth-child(2){
                                   display: none;
                                }
                               &:nth-child(3){
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%,-50%) rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }
            .content{
                .content__column{
                    .content__about{
                        flex: 0 0 333.333px;
                        font-size: 1.3vw;
                        padding: 0em 0px 0em 0px;
                        .conteiner{
                            height: 100%;
                            font-size: 3vw;
                            margin: 0px auto;
                            padding: 2em 0em;
                            .content__logo{
                                height: 5.5vw;
                                margin: 2em auto 2em auto;
                                img{
                                    height: 100%;
                                    width: auto;
                                  }
                                }
                            h1{
                                font-size: 3vw;
                                margin: 0 auto;
                            }
                            .content__text{
                                width: 90%;
                                font-size: 2.8vw;
                                line-height: 1.8em;
                                margin: 1em auto 0px auto;
                                text-align: center;
                            }
                        }
                    }
                    .content__work{
                        flex: 1 1 2626px;
                        .content__column{
                            display: flex;
                            flex-direction: column;
                            font-size: 3vw;
                            .content__vintage{
                                display: flex;
                                flex-direction: column;
                                flex: 1 0 28.5714%;
                                &_retro{
                                    display: flex;
                                    flex-direction: column;
                                    flex: 1 0 42.8571%;
                                }
                                .content__img{
                                    flex: 1 0 50%;
                                    height: 100%;
                                    width: 100%;
                                    &_retrofirst{
                                        flex: 1 0 33.333%;
                                        height: 100%;
                                        width: 100%;
                                    }
                                    &_retrosecond{
                                        flex: 1 0 33.333%;
                                        height: 100%;
                                        width: 100%;
                                    }
                                    &:hover{
                                        .content__cover{
                                            display: none;
                                        }
                                    }
                                }
                                .content__vintagecolumn{
                                    flex: 0 1 50%;
                                    padding: 4em 0px 4em 0px;
                                    &_retro{
                                        flex: 0 1 33.333%;
                                        padding: 4em 0px 4em 0px;
                                    }
                                    .content__inform{
                                        flex: 1 0 auto;
                                        display: block;
                                        .content__informlogo{
                                            margin: 4em 0px 4em 0px;
                                            display: block;
                                            height: 5.5vw;
                                            width: auto;
                                            img{
                                                position: relative;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                height: 100%;
                                                width: auto;
                                            }
                                        }
                                        h1{
                                            font-size: 3vw;
                                            margin: 0px auto 2em auto;
                                        }
                                        .content__informtext{
                                            font-size: 2.8vw;
                                            line-height: 1.8em;
                                            margin: 1em auto 0px auto;
                                        }
                                    }
                                    .content__vintageimg{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .content__about_twitter{
                        flex: 0 0 333.333px;
                        font-size: 1.3vw;
                        padding: 0em 0px 0em 0px;
                        .conteiner{
                            height: 100%;
                            font-size: 3vw;
                            margin: 0px auto;
                            padding: 6em 0em;
                            .content__logo{
                                height: 5.5vw;
                                margin: 2em auto 2em auto;
                                img{
                                    height: 100%;
                                    width: auto;
                                  }
                                }
                            h1{
                                font-size: 3vw;
                                margin: 0 auto;
                            }
                            .content__text{
                                width: 90%;
                                font-size: 2.8vw;
                                line-height: 1.8em;
                                margin: 1em auto 0px auto;
                                text-align: center;
                            }
                        }

                    }
                    .content__shop{
                        flex: 1 0 1100px;
                        .shop__column{
                            .shop__position{
                                flex-direction: column;
                            }
                        }
                    }
                    .content__mail{
                        flex: 1 0 auto;
                    }
                }
            }
        }
    }
}

